body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif; 
}

main {
  flex: 1 0 auto;
}


nav .brand-logo {
    font-size: 25px;
    font-family: 'Rubik 80s Fade', sans-serif;
    color:rgb(56, 56, 56);
    
}
#allCards {
    border: none;
    margin: 2vmin;
    border-radius: 5vmin; 
    justify-content: center;
    outline: none;
    width: 17vmin;
    height: 6vmin;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    font-weight: light;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; 
    
}

footer.page-footer {
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  
}

